.elementor-5697 .elementor-element.elementor-element-05af115:not(.elementor-motion-effects-element-type-background), .elementor-5697 .elementor-element.elementor-element-05af115 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #040404;
}

.elementor-5697 .elementor-element.elementor-element-05af115 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 3em;
    margin-bottom: 0em;
}

.elementor-5697 .elementor-element.elementor-element-05af115 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5697 .elementor-element.elementor-element-5e6a39e > .elementor-element-populated {
    margin: 2em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
}

.elementor-5697 .elementor-element.elementor-element-01e15d2 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-5697 .elementor-element.elementor-element-01e15d2 > .elementor-widget-container {
    margin: 0em 0em 0em -3em;
}

.elementor-5697 .elementor-element.elementor-element-77e5a17:not(.elementor-motion-effects-element-type-background), .elementor-5697 .elementor-element.elementor-element-77e5a17 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #040404;
}

.elementor-5697 .elementor-element.elementor-element-77e5a17 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0em;
    margin-bottom: 0em;
}

.elementor-5697 .elementor-element.elementor-element-77e5a17 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5697 .elementor-element.elementor-element-4c170a2 > .elementor-element-populated {
    margin: 0em 0em 0em -5em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: -5em;
}

.elementor-5697 .elementor-element.elementor-element-32555b2 img {
    width: 6vw;
}

.elementor-5697 .elementor-element.elementor-element-da0c7ec > .elementor-element-populated {
    margin: 0em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
}

.elementor-5697 .elementor-element.elementor-element-0a92bee img {
    width: 6vw;
}

.elementor-5697 .elementor-element.elementor-element-0a92bee > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-5697 .elementor-element.elementor-element-0e2a46f > .elementor-element-populated {
    margin: 0em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
}

.elementor-5697 .elementor-element.elementor-element-713c886 img {
    width: 4vw;
}

.elementor-5697 .elementor-element.elementor-element-713c886 > .elementor-widget-container {
    margin: 1em 0em 0em 0em;
}

.elementor-5697 .elementor-element.elementor-element-dfc4aa5 > .elementor-element-populated {
    margin: -1em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
}

.elementor-5697 .elementor-element.elementor-element-338400b img {
    width: 7vw;
}

.elementor-5697 .elementor-element.elementor-element-7c8f323 > .elementor-element-populated {
    margin: 0em 0em 0em 0em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 0em;
}

.elementor-5697 .elementor-element.elementor-element-e5ced05 img {
    width: 7vw;
}

.elementor-5697 .elementor-element.elementor-element-e5ced05 > .elementor-widget-container {
    margin: 2.3em 0em 0em 0em;
}

.elementor-5697 .elementor-element.elementor-element-f4bf140:not(.elementor-motion-effects-element-type-background), .elementor-5697 .elementor-element.elementor-element-f4bf140 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #040404;
}

.elementor-5697 .elementor-element.elementor-element-f4bf140 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 3em;
    margin-bottom: 0em;
}

.elementor-5697 .elementor-element.elementor-element-f4bf140 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5697 .elementor-element.elementor-element-fdd1906 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-5697 .elementor-element.elementor-element-fdd1906 > .elementor-widget-container {
    margin: 0em 0em 0em -3em;
}

.elementor-5697 .elementor-element.elementor-element-9d90210:not(.elementor-motion-effects-element-type-background), .elementor-5697 .elementor-element.elementor-element-9d90210 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #040404;
}

.elementor-5697 .elementor-element.elementor-element-9d90210 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0em;
    margin-bottom: 0em;
}

.elementor-5697 .elementor-element.elementor-element-9d90210 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5697 .elementor-element.elementor-element-b73dba0 > .elementor-element-populated {
    margin: 0em 0em 0em -3em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: -3em;
}

.elementor-5697 .elementor-element.elementor-element-73c245b {
    text-align: left;
}

.elementor-5697 .elementor-element.elementor-element-73c245b > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-5697 .elementor-element.elementor-element-01640f2 > .elementor-element-populated {
    margin: 0em 0em 0em -3em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: -3em;
}

.elementor-5697 .elementor-element.elementor-element-f0e8b12 {
    text-align: left;
}

.elementor-5697 .elementor-element.elementor-element-e414fd4 > .elementor-element-populated {
    margin: 0em 0em 0em -3em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: -3em;
}

.elementor-5697 .elementor-element.elementor-element-f5f2e33 {
    text-align: left;
}

.elementor-5697 .elementor-element.elementor-element-e7d43fd > .elementor-element-populated {
    margin: 0em 0em 0em -3em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: -3em;
}

.elementor-5697 .elementor-element.elementor-element-bc562c9 {
    text-align: left;
}

.elementor-5697 .elementor-element.elementor-element-2e099f3:not(.elementor-motion-effects-element-type-background), .elementor-5697 .elementor-element.elementor-element-2e099f3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #040404;
}

.elementor-5697 .elementor-element.elementor-element-2e099f3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 3em;
    margin-bottom: 0em;
}

.elementor-5697 .elementor-element.elementor-element-2e099f3 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-5697 .elementor-element.elementor-element-961b0f4 > .elementor-element-populated {
    margin: 0em 0em 0em 2em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 2em;
}

.elementor-5697 .elementor-element.elementor-element-48b60bf > .elementor-element-populated {
    margin: 0em 0em 0em 3em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 3em;
}

.elementor-5697 .elementor-element.elementor-element-d19e9b8 > .elementor-widget-container {
    margin: 0em 0em 0em 0em;
}

.elementor-5697 .elementor-element.elementor-element-ffc06e3 > .elementor-element-populated {
    margin: 0em 0em 0em 3em;
    --e-column-margin-right: 0em;
    --e-column-margin-left: 3em;
}

@media(max-width: 1024px) {
    .elementor-5697 .elementor-element.elementor-element-01e15d2 > .elementor-widget-container {
        margin:0em 0em 0em 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-4c170a2 > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-32555b2 img {
        width: 9vw;
    }

    .elementor-5697 .elementor-element.elementor-element-da0c7ec > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-0a92bee img {
        width: 9vw;
    }

    .elementor-5697 .elementor-element.elementor-element-0e2a46f > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-713c886 img {
        width: 6vw;
    }

    .elementor-5697 .elementor-element.elementor-element-dfc4aa5 > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-338400b img {
        width: 9vw;
    }

    .elementor-5697 .elementor-element.elementor-element-7c8f323 > .elementor-element-populated {
        margin: -1em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-e5ced05 img {
        width: 10vw;
    }

    .elementor-5697 .elementor-element.elementor-element-fdd1906 > .elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-b73dba0 > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-01640f2 > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-e414fd4 > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-e7d43fd > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-d19e9b8 {
        text-align: center;
    }
}

@media(max-width: 767px) {
    .elementor-5697 .elementor-element.elementor-element-01e15d2 .elementor-heading-title {
        font-size:30px;
    }

    .elementor-5697 .elementor-element.elementor-element-01e15d2 > .elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-4c170a2 > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-32555b2 {
        text-align: left;
    }

    .elementor-5697 .elementor-element.elementor-element-32555b2 img {
        width: 25vw;
    }

    .elementor-5697 .elementor-element.elementor-element-da0c7ec > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-0a92bee {
        text-align: left;
    }

    .elementor-5697 .elementor-element.elementor-element-0a92bee img {
        width: 25vw;
    }

    .elementor-5697 .elementor-element.elementor-element-0e2a46f > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-713c886 {
        text-align: left;
    }

    .elementor-5697 .elementor-element.elementor-element-713c886 img {
        width: 15vw;
    }

    .elementor-5697 .elementor-element.elementor-element-713c886 > .elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-dfc4aa5 > .elementor-element-populated {
        margin: 0em 0em 0em -1em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: -1em;
    }

    .elementor-5697 .elementor-element.elementor-element-338400b {
        text-align: left;
    }

    .elementor-5697 .elementor-element.elementor-element-338400b img {
        width: 25vw;
    }

    .elementor-5697 .elementor-element.elementor-element-7c8f323 > .elementor-element-populated {
        margin: 0em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-e5ced05 {
        text-align: left;
    }

    .elementor-5697 .elementor-element.elementor-element-e5ced05 img {
        width: 30vw;
    }

    .elementor-5697 .elementor-element.elementor-element-e5ced05 > .elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-fdd1906 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-5697 .elementor-element.elementor-element-fdd1906 > .elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-b73dba0 > .elementor-element-populated {
        margin: 1em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-73c245b > .elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-01640f2 > .elementor-element-populated {
        margin: 2em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-f0e8b12 > .elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-e414fd4 > .elementor-element-populated {
        margin: 2em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-f5f2e33 > .elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-e7d43fd > .elementor-element-populated {
        margin: 2em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-bc562c9 > .elementor-widget-container {
        margin: 0em 0em 0em 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-2e099f3 {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-961b0f4 > .elementor-element-populated {
        margin: 1em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-48b60bf > .elementor-element-populated {
        margin: 2em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }

    .elementor-5697 .elementor-element.elementor-element-d19e9b8 {
        text-align: center;
    }

    .elementor-5697 .elementor-element.elementor-element-ffc06e3 > .elementor-element-populated {
        margin: 2em 0em 0em 0em;
        --e-column-margin-right: 0em;
        --e-column-margin-left: 0em;
    }
}
