
@media (min-width: 768px){
    .elementor-column.elementor-col-100, .elementor-column[data-col="100"] {
        width: 100%;
    }
    .elementor-column.elementor-col-25, .elementor-column[data-col="25"] {
        width: 25%;
    }
    .elementor-column.elementor-col-50, .elementor-column[data-col="50"] {
        width: 50%;
    }

    }