*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #1B1B1B;
    font-family: 'Montserrat',sans-serif;
}
.header_wrapper{
    display: flex;
    padding: 20px 40px;
    width: 100%;
    height: 100%
}

.ast-hidden {
    display: none!important
}

body {
    background-color: #fff
}

#page {
    display: block
}

#primary,#secondary {
    display: block;
    position: relative;
    float: left;
    width: 100%
}

#primary {
    margin: 4em 0
}

.ast-separate-container {
    background-color: #f5f5f5
}

.ast-separate-container #primary {
    padding: 4em 0;
    margin: 0;
    border: 0
}

.ast-separate-container .site-main>.ast-row {
    margin-left: 0;
    margin-right: 0
}

.ast-separate-container .ast-article-post,.ast-separate-container .ast-article-single:not(.ast-related-post) {
    background-color: #fff
}

.ast-separate-container .ast-article-post,.ast-separate-container .ast-article-single {
    border-bottom: 1px solid var(--ast-border-color);
    margin: 0;
    padding: 5.34em 6.67em
}

.ast-separate-container .blog-layout-1 {
    padding: 0;
    border-bottom: 0
}

.ast-separate-container .ast-article-single {
    border-bottom: 0
}

@media (max-width: 1200px) {
    .ast-separate-container .ast-article-post,.ast-separate-container .ast-article-single {
        margin:0;
        padding: 3.34em 2.4em
    }
}

.ast-page-builder-template .hentry {
    margin: 0
}

.ast-page-builder-template .site-content>.ast-container {
    max-width: 100%;
    padding: 0
}

.ast-page-builder-template .site-content #primary {
    padding: 0;
    margin: 0
}

.ast-page-builder-template .no-results {
    text-align: center;
    margin: 4em auto
}

.ast-page-builder-template .entry-header {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px
}

.ast-page-builder-template .entry-header.ast-no-title.ast-no-thumbnail {
    margin-top: 0
}

.ast-page-builder-template .entry-header.ast-header-without-markup {
    margin-top: 0;
    margin-bottom: 0
}

.ast-page-builder-template .entry-header.ast-no-title.ast-no-meta {
    margin-bottom: 0
}

.ast-page-builder-template.single .post-navigation {
    padding-bottom: 2em
}

.ast-page-builder-template .ast-archive-description {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px
}

@media (min-width: 993px) {
    .ast-separate-container #primary,.ast-separate-container.ast-left-sidebar #primary,.ast-separate-container.ast-right-sidebar #primary {
        margin:4em 0;
        padding: 0
    }

    .ast-right-sidebar #primary {
        padding-right: 60px
    }

    .ast-left-sidebar #primary {
        padding-left: 60px
    }
}

@media (max-width: 992px) {
    .ast-separate-container #primary,.ast-separate-container.ast-left-sidebar #primary,.ast-separate-container.ast-right-sidebar #primary {
        padding-left:0;
        padding-right: 0
    }

    .ast-right-sidebar #primary {
        padding-right: 30px
    }

    .ast-left-sidebar #primary {
        padding-left: 30px
    }
}

.ast-search-icon .astra-search-icon {
    font-size: 1.3em
}

.main-navigation {
    height: 100%;
    -js-display: inline-flex;
    display: inline-flex
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    position: relative
}

.main-header-menu .menu-link,.main-header-menu>a {
    text-decoration: none;
    padding: 0 1em;
    display: inline-block;
    transition: all .2s linear
}

.main-header-menu .menu-item {
    position: relative
}

.main-header-menu .menu-item.focus>.sub-menu,.main-header-menu .menu-item:hover>.sub-menu,.main-header-menu .menu-item>.sub-menu.toggled-on {
    right: auto;
    left: 0;
    visibility: visible
}

.main-header-menu .menu-item.focus>.sub-menu .sub-menu.toggled-on,.main-header-menu .menu-item:hover>.sub-menu .sub-menu.toggled-on,.main-header-menu .menu-item>.sub-menu.toggled-on .sub-menu.toggled-on {
    left: 100%;
    right: auto;
    visibility: visible
}

.main-header-menu .ast-left-align-sub-menu.focus>.sub-menu,.main-header-menu .ast-left-align-sub-menu:hover>.sub-menu {
    right: 0;
    left: auto
}

@media (min-width: 769px) {
    .main-header-menu .ast-sub-menu-goes-outside.focus>.sub-menu,.main-header-menu .ast-sub-menu-goes-outside:hover>.sub-menu {
        left:-100%
    }

    .main-header-menu .ast-left-align-sub-menu .sub-menu .menu-item.focus>.sub-menu,.main-header-menu .ast-left-align-sub-menu .sub-menu .menu-item:hover>.sub-menu {
        left: -100%
    }
}

.main-header-menu .sub-menu {
    width: 240px;
    background: #fff;
    left: -999em;
    position: absolute;
    top: 100%;
    z-index: 99999;
    visibility: hidden
}

@media (min-width: 769px) {
    .main-header-menu .sub-menu .menu-item.focus>.sub-menu,.main-header-menu .sub-menu .menu-item:hover>.sub-menu {
        left:100%;
        right: auto
    }

    .main-header-menu .sub-menu .ast-left-align-sub-menu.focus>.sub-menu,.main-header-menu .sub-menu .ast-left-align-sub-menu:focus * .sub-menu,.main-header-menu .sub-menu .ast-left-align-sub-menu:hover * .sub-menu,.main-header-menu .sub-menu .ast-left-align-sub-menu:hover>.sub-menu {
        left: -100%
    }

    .main-header-menu .sub-menu .main-header-menu .ast-sub-menu-goes-outside.focus>.sub-menu,.main-header-menu .sub-menu .main-header-menu .ast-sub-menu-goes-outside:hover>.sub-menu {
        left: -100%
    }
}

.main-header-menu .sub-menu .menu-link {
    padding: .9em 1em;
    display: block;
    word-wrap: break-word
}

.main-header-menu .sub-menu .menu-item:not(.menu-item-has-children) .menu-link .icon-arrow:first-of-type {
    display: none
}

#ast-desktop-header .main-header-menu .sub-menu .menu-item.menu-item-has-children>.menu-link .icon-arrow {
    display: none
}

#ast-desktop-header .main-header-menu .sub-menu .menu-item.menu-item-has-children>.menu-link .ast-header-navigation-arrow {
    position: absolute;
    right: .6em;
    top: 50%;
    transform: translate(0,-50%) rotate(270deg)
}

#ast-desktop-header .main-header-menu .sub-menu .menu-item.menu-item-has-children>.menu-link .ast-header-navigation-arrow .icon-arrow {
    display: block
}

#ast-desktop-header .main-header-menu .sub-menu .menu-item.menu-item-has-children>.menu-link .ast-header-navigation-arrow .icon-arrow svg {
    margin: 0
}

.main-header-menu .sub-menu .sub-menu {
    top: 0
}

.submenu-with-border .sub-menu {
    border-width: 1px;
    border-style: solid
}

.submenu-with-border .sub-menu .menu-link {
    border-width: 0 0 1px;
    border-style: solid
}

.submenu-with-border .sub-menu .sub-menu {
    top: -2px
}

.ast-desktop .submenu-with-border .sub-menu>.menu-item:last-child>.menu-link {
    border-bottom-width: 0
}

.ast-header-break-point .main-navigation {
    padding-left: 0
}

.ast-header-break-point .main-navigation ul .menu-item .menu-link {
    padding: 0 20px;
    display: inline-block;
    width: 100%;
    border: 0;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: var(--ast-border-color)
}

.ast-header-break-point .main-navigation ul .menu-item .menu-link .icon-arrow:first-of-type {
    margin-right: 5px
}

.ast-header-break-point .main-navigation ul .sub-menu .menu-item:not(.menu-item-has-children) .menu-link .icon-arrow:first-of-type {
    display: inline
}

.ast-header-break-point .main-navigation .sub-menu .menu-item .menu-link {
    padding-left: 30px
}

.ast-header-break-point .main-navigation .sub-menu .menu-item .menu-item .menu-link {
    padding-left: 40px
}

.ast-header-break-point .main-navigation .sub-menu .menu-item .menu-item .menu-item .menu-link {
    padding-left: 50px
}

.ast-header-break-point .main-navigation .sub-menu .menu-item .menu-item .menu-item .menu-item .menu-link {
    padding-left: 60px
}

.ast-header-break-point .main-header-menu {
    background-color: #f9f9f9;
    border-top-width: 1px;
    border-style: solid;
    border-color: var(--ast-border-color)
}

.ast-header-break-point .main-header-menu .sub-menu {
    background-color: #f9f9f9;
    position: static;
    opacity: 1;
    visibility: visible;
    border: 0;
    width: auto
}

.ast-header-break-point .main-header-menu .sub-menu .ast-left-align-sub-menu.focus>.sub-menu,.ast-header-break-point .main-header-menu .sub-menu .ast-left-align-sub-menu:hover>.sub-menu {
    left: 0
}

.ast-header-break-point .main-header-menu .ast-sub-menu-goes-outside.focus>.sub-menu,.ast-header-break-point .main-header-menu .ast-sub-menu-goes-outside:hover>.sub-menu {
    left: 0
}

.ast-header-break-point .submenu-with-border .sub-menu {
    border: 0
}

.ast-header-break-point .dropdown-menu-toggle {
    display: none
}

.ast-mobile-menu-buttons {
    display: none
}

.ast-button-wrap {
    display: inline-block
}

.ast-button-wrap button {
    box-shadow: none;
    border: none
}

.ast-button-wrap .menu-toggle {
    padding: 0;
    width: 2.2em;
    height: 2.1em;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 2px;
    vertical-align: middle;
    line-height: 1.85714285714286
}

.ast-button-wrap .menu-toggle.main-header-menu-toggle {
    padding: 0 .5em;
    width: auto;
    text-align: center
}

.ast-button-wrap .menu-toggle.main-header-menu-toggle .mobile-menu {
    font-size: 15px;
    font-size: 1rem;
    font-weight: 600
}

.ast-button-wrap .menu-toggle .menu-toggle-icon {
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 2.05
}

.ast-button-wrap .menu-toggle .menu-toggle-icon:before {
    content: "\e5d2";
    font-family: Astra;
    text-decoration: inherit
}

.ast-button-wrap .menu-toggle .icon-menu-bars svg:nth-child(2) {
    display: none
}

.ast-button-wrap .menu-toggle.toggled .menu-toggle-icon:before {
    content: "\e5cd"
}

.ast-button-wrap .menu-toggle.toggled .icon-menu-bars svg:first-child {
    display: none
}

.ast-button-wrap .menu-toggle.toggled .icon-menu-bars svg:nth-child(2) {
    display: block
}

.ast-button-wrap .menu-toggle .mobile-menu-wrap {
    display: inline-block
}

.ast-button-wrap .menu-toggle:focus {
    outline: thin dotted
}

.header-main-layout-1 .ast-main-header-bar-alignment {
    margin-left: auto
}

.site-navigation {
    height: 100%
}

.site-header .menu-link * {
    transition: none
}

.ast-icon.icon-arrow svg {
    height: .6em;
    width: .6em;
    position: relative;
    margin-left: 10px
}

.ast-icon.icon-search svg {
    height: 1em;
    width: .9em;
    margin-top: 3px;
    margin-right: 2px
}

.ast-header-break-point .user-select {
    clear: both
}

.ast-header-break-point .ast-mobile-menu-buttons {
    display: block;
    align-self: center
}

.ast-header-break-point .main-header-bar-navigation {
    flex: auto
}

.ast-header-break-point .ast-main-header-bar-alignment {
    display: block;
    width: 100%;
    flex: auto;
    order: 4
}

.ast-header-break-point .ast-icon.icon-arrow svg {
    height: .85em;
    width: .95em;
    position: relative;
    margin-left: 10px
}

.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation {
    margin: 0 0 1.5em;
    overflow: hidden
}

.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous {
    position: relative;
    text-align: left
}

.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next {
    grid-column-start: 2;
    text-align: right
}

.ast-icon svg {
    fill: currentColor
}

.post-navigation a {
    background: 0 0;
    font-size: 1.06666rem;
    font-size: 1rem;
    padding: 0 var(--ast-post-nav-space,1.5em);
    height: 2.33333em;
    line-height: calc(2.33333em - 3px)
}

.main-header-bar {
    z-index: 1
}

.header-main-layout-1.ast-primary-menu-disabled .ast-masthead-custom-menu-items {
    text-align: right
}

.header-main-layout-1 .main-header-bar-navigation {
    text-align: right
}

.header-main-layout-1 .main-header-bar-navigation .sub-menu {
    text-align: left
}

.header-main-layout-1 .main-navigation {
    padding-left: 15px;
    vertical-align: top
}

.header-main-layout-1 .main-header-container {
    align-items: stretch
}

.header-main-layout-2 .main-header-container {
    display: block
}

.header-main-layout-2 .site-branding {
    text-align: center;
    padding-bottom: 1em
}

.header-main-layout-2 .site-title {
    justify-content: center
}

.header-main-layout-2 .main-navigation ul {
    justify-content: center
}

.header-main-layout-2 .main-header-bar-navigation {
    text-align: center
}

.header-main-layout-2 .main-header-bar-navigation .sub-menu {
    text-align: left
}

.header-main-layout-2 .ast-header-custom-item {
    justify-content: center;
    line-height: 1.85714285714286
}

.header-main-layout-2 .ast-masthead-custom-menu-items {
    position: relative
}

.header-main-layout-2 .widget {
    text-align: center
}

.ast-header-custom-item-outside .header-main-layout-2 .main-header-container {
    -js-display: flex;
    display: flex;
    justify-content: center
}

.ast-header-custom-item-outside .header-main-layout-2 .site-branding {
    flex: 0 0 100%
}

.header-main-layout-3 .ast-site-identity {
    text-align: right
}

.header-main-layout-3 .main-header-container {
    flex-direction: row-reverse;
    align-items: stretch
}

.header-main-layout-3 .main-navigation {
    padding-right: 15px
}

.header-main-layout-3 .main-navigation ul {
    justify-content: flex-start
}

.header-main-layout-3 .main-header-bar-navigation {
    text-align: left
}

.header-main-layout-3 .ast-header-custom-item {
    justify-content: flex-start
}

.header-main-layout-3 .ast-masthead-custom-menu-items {
    position: relative
}

.header-main-layout-3 li .ast-search-icon {
    padding-left: .5em
}

.header-main-layout-3 .ast-search-menu-icon {
    left: 0;
    right: 0
}

.header-main-layout-3 li .ast-search-menu-icon {
    left: 1em;
    right: 0
}

.header-main-layout-3 .main-header-bar .ast-search-menu-icon .search-form {
    padding: 0 0 0 3em
}

.header-main-layout-3 .main-header-bar .ast-search-menu-icon.slide-search .search-form {
    left: -1em;
    right: auto
}

.ast-header-break-point .header-main-layout-1 .site-branding {
    padding-right: 1em
}

.ast-header-break-point .header-main-layout-1 .main-header-bar-navigation {
    text-align: left
}

.ast-header-break-point .header-main-layout-1 .main-navigation {
    padding-left: 0
}

.ast-header-break-point .ast-mobile-header-stack .ast-masthead-custom-menu-items {
    flex: 1 1 100%
}

.ast-header-break-point .ast-mobile-header-stack .site-branding {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
    flex: 1 1 100%
}

.ast-header-break-point .ast-mobile-header-stack .ast-masthead-custom-menu-items,.ast-header-break-point .ast-mobile-header-stack .ast-site-identity,.ast-header-break-point .ast-mobile-header-stack .site-branding,.ast-header-break-point .ast-mobile-header-stack .site-title {
    justify-content: center;
    text-align: center
}

.ast-header-break-point .ast-mobile-header-stack.ast-logo-title-inline .site-title {
    text-align: left
}

.ast-header-break-point .ast-mobile-header-stack .ast-mobile-menu-buttons {
    flex: 1 1 100%;
    text-align: center;
    justify-content: center
}

.ast-header-break-point .ast-mobile-header-stack.header-main-layout-3 .main-header-container {
    flex-direction: initial
}

.ast-header-break-point .header-main-layout-2 .ast-mobile-menu-buttons {
    -js-display: flex;
    display: flex;
    justify-content: center
}

.ast-header-break-point .header-main-layout-2 .main-header-bar-navigation,.ast-header-break-point .header-main-layout-2 .widget {
    text-align: left
}

.ast-header-break-point.ast-header-custom-item-outside .header-main-layout-3 .main-header-bar .ast-search-icon {
    margin-right: auto;
    margin-left: 1em
}

.ast-header-break-point .header-main-layout-3 .main-header-bar .ast-search-menu-icon.slide-search .search-form {
    right: auto;
    left: 0
}

.ast-header-break-point .header-main-layout-3.ast-mobile-header-inline .ast-mobile-menu-buttons {
    justify-content: flex-start
}

.ast-header-break-point .header-main-layout-3 li .ast-search-menu-icon {
    left: 0
}

.ast-header-break-point .header-main-layout-3 .site-branding {
    padding-left: 1em;
    justify-content: flex-end
}

.ast-header-break-point .header-main-layout-3 .main-navigation {
    padding-right: 0
}

.ast-logo-title-inline .ast-site-identity {
    -js-display: inline-flex;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    transition: all .2s linear
}

.ast-logo-title-inline .site-logo-img {
    padding-right: 1em
}

.ast-logo-title-inline.header-main-layout-2 .site-logo-img+.ast-site-title-wrap .site-title {
    justify-content: flex-start
}

@media (max-width: 544px) {
    .ast-header-custom-item-outside .ast-mobile-header-stack .site-branding {
        padding-right:0
    }

    .ast-header-custom-item-outside .ast-mobile-header-stack .site-title {
        justify-content: center;
        text-align: center
    }

    .ast-header-break-point .ast-mobile-header-stack .ast-mobile-menu-buttons,.ast-header-break-point .ast-mobile-header-stack .site-branding {
        justify-content: center;
        text-align: center;
        padding-bottom: 0
    }
}

.ast-header-break-point.ast-header-custom-item-outside .ast-mobile-header-inline .site-branding {
    text-align: left
}

.ast-header-break-point.ast-header-custom-item-outside .ast-mobile-header-inline .site-title {
    justify-content: left
}

.ast-header-break-point.ast-header-custom-item-outside .header-main-layout-2 .ast-mobile-menu-buttons {
    padding-bottom: 1em
}

.ast-header-break-point .ast-mobile-header-inline .main-header-container,.ast-header-break-point .ast-mobile-header-stack .main-header-container {
    -js-display: flex;
    display: flex
}

.site-header {
    z-index: 99;
    position: relative
}

.main-header-container {
    position: relative
}

.main-header-bar-wrap {
    position: relative
}

.main-header-bar {
    background-color: #fff;
    border-bottom-color: var(--ast-border-color);
    border-bottom-style: solid
}

.ast-header-break-point .main-header-bar {
    border: 0
}

.ast-header-break-point .main-header-bar {
    border-bottom-color: var(--ast-border-color);
    border-bottom-style: solid
}

.main-header-bar {
    margin-left: auto;
    margin-right: auto
}

.ast-desktop .main-header-menu.ast-menu-shadow .sub-menu {
    box-shadow: 0 4px 10px -2px rgba(0,0,0,.1)
}

.ast-header-custom-item-inside .button-custom-menu-item .menu-link {
    display: none
}

.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0
}

.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item .ast-custom-button-link {
    display: none
}

.ast-header-custom-item-inside.ast-header-break-point .button-custom-menu-item .menu-link {
    display: block
}

.nav-style {
    display: block;
    padding: 0 15px
}

.site-branding {
    line-height: 1;
    align-self: center
}

.ast-no-menu-items .main-navigation {
    display: none
}

.ast-menu-toggle {
    display: none;
    background: 0 0;
    color: inherit;
    border-style: dotted;
    border-color: transparent
}

.ast-menu-toggle:focus,.ast-menu-toggle:hover {
    background: 0 0;
    border-color: inherit;
    color: inherit
}

.ast-menu-toggle:focus {
    outline: thin dotted
}

.ast-main-header-nav-open .main-header-bar {
    padding-bottom: 0
}

.main-header-bar {
    z-index: 4;
    position: relative;
    line-height: 4
}

.main-header-bar .main-header-bar-navigation {
    height: 100%
}

.main-header-bar .main-header-bar-navigation:empty {
    padding: 0
}

.main-header-bar .main-header-bar-navigation .sub-menu {
    line-height: 1.45
}

.main-header-bar .main-header-bar-navigation .menu-item-has-children>.menu-link:after {
    line-height: normal
}

.main-header-bar .main-header-bar-navigation .ast-search-icon {
    display: block;
    z-index: 4;
    position: relative
}

.main-header-bar .ast-search-menu-icon .search-form {
    background-color: #fff
}

.ast-primary-menu-disabled .main-header-bar .main-header-bar-navigation.toggle-on {
    padding-top: 0
}

.ast-flyout-menu-enable .main-header-bar .ast-masthead-custom-menu-items .ast-custom-button-link {
    border: none
}

.ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-form {
    visibility: visible;
    opacity: 1;
    position: relative;
    right: auto;
    top: auto;
    transform: none
}

.ast-above-header-section .user-select .ast-dropdown-active .slide-search.astra-search-icon,.ast-masthead-custom-menu-items .ast-dropdown-active .slide-search.astra-search-icon,.below-header-user-select .ast-dropdown-active .slide-search.astra-search-icon {
    color: #757575
}

.ast-search-menu-icon.slide-search .search-form {
    backface-visibility: visible;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    position: absolute;
    z-index: 3;
    right: -1em;
    top: 50%;
    transform: translateY(-50%)
}

.ast-search-menu-icon.ast-dropdown-active.slide-search .search-form {
    visibility: visible;
    opacity: 1
}

.ast-search-menu-icon .search-form {
    border: 1px solid var(--ast-border-color);
    line-height: normal;
    padding: 0 3em 0 0;
    border-radius: 2px;
    display: inline-block;
    backface-visibility: hidden;
    position: relative;
    color: inherit;
    background-color: #fff
}

.ast-search-menu-icon .astra-search-icon {
    -js-display: flex;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 12px 45px 12px 15px
}

.mid_heade ul li {
    list-style: none;
    margin:0 10px;
}
.mid_heade ul li a{
    color: #fff;
    padding: 14px;
    text-decoration: none;
    display: inline-flex;
}
.header_contact{
    color: #fff;
    background-color:#ff7271;
    width: 180px;
    height: 48px;
    padding:10px 20px;
    display: flex;
    flex-wrap: wrap
}

.ast-flex-1 {
    flex: 1
}

.ast-flex-2 {
    flex: 2
}

.ast-flex-3 {
    flex: 3
}

.ast-flex-4 {
    flex: 4
}

.ast-flex-5 {
    flex: 5
}

.ast-inline-flex {
    -js-display: inline-flex;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
}
.container{
    width: 100%;
    padding:0 40px;
}
.banner_section{
    width: calc(100% - -40px);
    margin-left:-40px ;
    margin-right: 40px;
}
.banner_img{
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 640px;
    display:block ;
    background-size: 100%;
    position: relative;
    background-color: #1B1B1B;
    opacity: 0.7;
}
.banner_text{
    position: absolute;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%);
    width: 69%;
}
.banner_text_head{
    font-size: 100px;
    font-weight: 700;
}
.banner_sub_text{
    font-size: 22px;
}