*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #1B1B1B;
    font-family: 'Montserrat',sans-serif;
    color: #fff;
}
.header_wrapper{
    display: flex;
    padding: 20px 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    background-image: url(images/logo.webp);
    width: 168px;
    height: 60px;
    background-size: cover;
}
.main-header-bar {
    z-index: 4;
    position: relative;
    line-height: 4;
}
.mid_heade{
    width: 100%;
    display: block;
}
.mid_heade ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;

}
.mid_heade ul li {
    list-style: none;
    margin:0 10px;
}
.mid_heade ul li a{
    color: #fff;
    padding: 14px;
    text-decoration: none;
    display: inline-flex;
}
.header_contact{
    color: #fff;
    background-color:#ff7271;
    width: 180px;
    height: 48px;
    padding:10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.container{
    width: 100%;
    padding:0 40px;
}
.banner_section{
    width: calc(100% - -40px);
    margin-left:-40px ;
    margin-right: 40px;
}
.banner_img{
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 640px;
    display:block ;
    background-size: 100%;
    position: relative;
    background-color: #1B1B1B;
    opacity: 0.7;
}
.banner_text{
    position: absolute;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%);
    width: 69%;
}
.banner_text_head{
    font-size: 100px;
    font-weight: 700;
}
.banner_sub_text{
    font-size: 22px;
}